.outer-border {
    padding: 2px;
    background-color: #f8dfb7; 
    border-radius: 28px; 
    display: inline-block;
}

.middle-border {
    padding: 2px;
    background-color: #fdc05a; 
    border-radius: 26px;
}

.inner-border {
    padding: 0.25px;
    background-color: #FFFFFF; 
    border-radius: 25px;
}
.counter-button-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.stars-container {
    position: absolute;
    top: -10px;
    right: -30px;
    display: flex;
    align-items: center;
}

.large-star {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0px;
    right: 0px;
}

.small-star {
    width: 12px;
    height: 12px;
    position: relative;
    top: 0px;
    right: -10px;
}

.counter-button {
    display: inline-flex;
    font-family: 'Lilita One', cursive;
    align-items: center;
    justify-content: center;
    background-color: #606ad6;
    border: 2px solid #606ad6;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1; /* 确保按钮在星星之上 */
}

.counter-button:hover {
    background-color: #3e52ab;
}

.counter-text {
    margin-right: 10px;
}

.counter-value {
    background-color: #452d9c;
    color: #637DFF;
    border-radius: 25px;
    padding: 5px 10px;
    min-width: 30px;
    text-align: center;
}
